<h1>{{ object.title }}</h1>

{% if object.image %}
    <img src="{{ object.image.url }}" width="300">
{% endif %}

<p>{{ object.description }}</p>
<p>Рейтинг: {{ object.rating }}</p>

<p>Теги:</p>
{% for tag in object.tags.all %}
    <span>#{{ tag.name }}</span>
{% endfor %}

{% if user.is_authenticated %}
    <a href="/update/{{ object.id }}/">Изменить</a>
    <a href="/delete/{{ object.id }}/">Удалить</a>
{% endif %}

<hr>

<h3>Комментарии</h3>

{% for comment in object.comments.all %}
    <p>{{ comment.user }}: {{ comment.text }}</p>
{% endfor %}

{% if user.is_authenticated %}
<form method="post" action="/comment/{{ object.id }}/">
    {% csrf_token %}
    <textarea name="text"></textarea>
    <button type="submit">Добавить комментарий</button>
</form>
{% endif %}